*{
    padding:0;
    margin: 0;
    box-sizing: 0;
 
 }
 a{
    text-decoration: none;
 }
 ul,ol,li{
    list-style: none;
 }
 html, body{
    scroll-behavior: smooth;
 }
 header{
    background-color: #C97B46;
    position: fixed;
    width: 100vw;
 }
 #logo{
    width: 50px;
 }
 header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
 }
 header nav a{
    font-weight: bold;
    text-decoration: n;
    color: #ffffff;
    padding: 5vh;
    transition: all 0.3 ease;
 }

 header nav a:hover{
    color: #5C2A00;
 }
 
 .grupo{
    height: 100vh;
 }
 
 section {
    padding-left: 10vh;
    padding-right: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 
 #pagina-inicial{
    background-image: url(./img/fundo-inicial.png)
    
 }
 
 #pagina-inicial #textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
 }
 
 #pagina-inicial #textos h1{
    font-family: "Cormorant Garamond", serif;
    font-style: bold ;
    font-size: 56px;
    color: #C97B46;
 }
 
 #pagina-inicial #textos h2{
    font-family: "Cormorant Garamond", serif;
    font-style: italic ;
    font-size: 30px;
    color: #C97B46;
 
 }
 
 #pagina-inicial #textos p{
 width: 48vh;
 font-family: "Cormorant Garamond", serif;
 font-style: light ;
 font-size: 28px;
 text-align: center;
 margin-top: 16vh;
 margin-bottom: 30vh;
 color: #5C2A00;
 }
 
 #pagina-guerras{
 background-image: url(./img/fundo-guerras.png);
 display: flex;
 flex-direction: column;
 justify-content: center;
 }

#pagina-guerras #titulo{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30vh;
 }

 #pagina-guerras #conteudo-guerras{
    display: flex;
    flex-direction: row-reverse;
 }

 #pagina-guerras h1{
    font-family: "Cormorant Garamond", serif;
    font-style: bold ;
    font-size: 56px;
    color: #C97B46;
 }

 #pagina-guerras h2{
    font-family: "Cormorant Garamond", serif;
    font-style: italic ;
    font-size: 30px;
    color: #C97B46;
 }
 
 #pagina-guerras p{
    margin-left: 30vh;
    font-family: "Cormorant Garamond", serif;
    font-style: light ;
    font-size: 28px;
    text-align: center;  
 }
 
 #pagina-revolucoes{
    background-image: url(img/fundo-revolucoes.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 #pagina-revolucoes #titulo{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 6vh;
   
 }

 #pagina-revolucoes h1{
   font-family: "Cormorant Garamond", serif;
   font-style: bold ;
   font-size: 56px;
   color: #C97B46;
}

#pagina-revolucoes h2{
   font-family: "Cormorant Garamond", serif;
   font-style: italic ;
   font-size: 30px;
   color: #C97B46;
}
 
#pagina-revolucoes #conteudo-revolucoes{
width: 80%;
height: 16vh;
font-size: 28px;
text-align: center;
margin-top: 10vh;
margin-bottom: 6vh;
}
 
#pagina-revolucoes #conteudo-revolucoes p{
 font-family: "Cormorant Garamond", serif;
 font-style: light ;
 font-size: 28px;
 text-align: center;
 color: #5C2A00;
}

#pagina-imperios{
 background-image: url(./img/fundo-imperios.png);
 display: flex;
 flex-direction: column;
 justify-content: center;
 }

#pagina-imperios #titulo{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 26vh;
 }

 #pagina-imperios #conteudo-imperios{
    display: flex;
    flex-direction: row-reverse;
 }

 #pagina-imperios h1{
    font-family: "Cormorant Garamond", serif;
    font-style: bold ;
    font-size: 56px;
    color: #C97B46;
 }

 #pagina-imperios h2{
    font-family: "Cormorant Garamond", serif;
    font-style: italic ;
    font-size: 30px;
    color: #C97B46;
 }

 #pagina-imperios p{
    margin-left: 16vh;
    font-family: "Cormorant Garamond", serif;
    font-style: light ;
    font-size: 28px;
    text-align: center;  
    background-color: #C97B46;
    background-size: contain;
 }

